apiVersion: v1
kind: Service
metadata:
  name: expense-frontend-stable
  labels:
    app: expense-frontend
    tier: frontend
spec:
  type: NodePort
  selector:
    app: expense-frontend
    tier: frontend
  ports:
    - name: expense-frontend
      protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 31000
  
