apiVersion: v1
kind: Service
metadata:
  name: expense-frontend-canary-svc
  labels:
    app: expense-frontend
    tier: frontend
spec:
  type: NodePort
  selector:
    app: expense-frontend
    tier: frontend
  ports:
    - name: expense-frontend
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 31001
